.root {
  margin: auto;
  padding: 12px 0 0 0;
  max-width: 1100px;
}

.search {
  margin: 0 0 0 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  &_root {
    padding: 8px 8px 8px 80px;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    input {
      color: white;
    }
  }
  &_icon {
    height: 100%;
    width: 72px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
